<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>
<body>
<div class="main-div">
    <div class="glass-card">
        <div class="heading">
            <img style="margin:10px 30px 70px 10px; height:fit-content;width:200px;" class="sealImage" alt="vgc"
                 src="/static/vgc_logo.png">

        </div>
        <form class="access_id" id="access-cred" method="post" action="/login">
            <div class="access_field" style="display:flex;justify-content:flex-start;align-items: center;">
                <input type="text" placeholder="Key ID" name="key_id"
                       style="background:transparent; border:none;outline: 0;  margin-left:8px; width:100%">
            </div>
            <div class="access_field" style="display:flex;justify-content:flex-start;align-items: center;">
                <input type="password" placeholder="Access Key" name="access_key"
                       style="background:transparent; border:none;outline: 0;  margin-left:8px; width:100%">
            </div>
            <div class="access_field" style="display:flex;justify-content:flex-start;align-items: center;">
                <select name="region" required style="background:transparent; border:none; outline: 0;  margin-left:8px; width:100%">
                    <option value="ap-south-1">ap-south-1</option>
                    <option value="eu-north-1">eu-north-1</option>
                    <option value="eu-west-3">eu-west-3</option>
                    <option value="eu-west-2">eu-west-2</option>
                    <option value="eu-west-1">eu-west-1</option>
                    <option value="ap-northeast-3">ap-northeast-3</option>
                    <option value="ap-northeast-2">ap-northeast-2</option>
                    <option value="ap-northeast-1">ap-northeast-1</option>
                    <option value="ca-central-1">ca-central-1</option>
                    <option value="sa-east-1">sa-east-1</option>
                    <option value="ap-southeast-1">ap-southeast-1</option>
                    <option value="ap-southeast-2">ap-southeast-2</option>
                    <option value="eu-central-1">eu-central-1</option>
                    <option value="us-east-1">us-east-1</option>
                    <option value="us-east-2">us-east-2</option>
                    <option value="us-west-1">us-west-1</option>
                    <option value="us-west-2">us-west-2</option>
                </select>
            </div>
            <div style="display:flex;justify-content:flex-start;align-items: center;">
                <button id="login" class="login_button" type="submit"> Login</button>
            </div>
        </form>
    </div>
</div>
<div></div>
</body>
</html>